<footer id="footer-main" class="position-relative">
    <div class="footer pt-lg-7 footer-dark bg-primary">
    <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
        <svg
        width="2560px"
        height="100px"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        preserveAspectRatio="none"
        x="0px"
        y="0px"
        viewBox="0 0 2560 100"
        style="enable-background:new 0 0 2560 100"
        xml:space="preserve"
        class="">
        <polygon points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-md-between pb-4">
        <div class="col-md-6 proxima" 
            style="color: lightgray;">
            <div class="copyright text-sm font-weight-300 text-center text-md-left">
            © 2020
            <a href="#" class="font-weight-500">
                R'systems
            </a>
            . Все права защищены
            </div>
        </div>
        <div class="col-md-6 proxima">
            <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0 text-300"
            >
            <li class="nav-item">
                <a class="nav-link" href="#">Условия и правила</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Конфеденциальность</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cookies</a>
            </li>
            </ul>
        </div>
        </div>
    </div>
    </div>
</footer>